* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 5px;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav {
  position: sticky;
  top: 0;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

.flex-container-column {
  display: flex;
  flex-direction: column;

  max-width: 500px;
  margin: 30px 20px 0 20px;
  text-align: right;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

main {
  min-height: calc(100vh - 120px);
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#left-number,
#right-number,
.operator {
  flex-basis: 25%;
}

#prev-left-number,
#prev-right-number,
#prev-answer,
.prev-operator {
  flex-basis: 20%;
}

.button {
  flex-basis: 34%;
  font-size: 1em;
  text-align: center;
  padding: 15px;
  border: 1px solid black;
  cursor: pointer;
}

.button:hover {
  font-weight: bold;
}

.double {
  flex-basis: 50%;
}

.display {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid black;
  font-size: 1em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  margin: 20px;
}

footer {
  padding: 5px;
  font-weight: bold;
  padding-left: 20px;
  margin-top: auto;
}

footer a {
  color: #268bd2;
}

@media screen and (max-width: 513px) {
  main {
    height: 100%;
  }

  .button {
    padding: 10px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
}

/* add dark/light mode based on Solarized theme */
@media (prefers-color-scheme: dark) {
  header {
    background-color: #073642;
    color: #839496;
  }

  nav a {
    color: #839496;
  }

  main {
    background-color: #002b36;
  }

  .button {
    background: #073642;
  }

  .card {
    background-color: #002b36;
    color: #839496;
  }

  .display {
    background-color: #002b36;
    color: #839496;
  }

  footer {
    background-color: #073642;
    color: #839496;
  }
}

@media (prefers-color-scheme: light) {
  header {
    background-color: #eee8d5;
    color: #657b83;
  }

  nav a {
    color: #657b83;
  }

  main {
    background-color: #fdf6e3;
  }

  .button {
    background: #eee8d5;
  }

  .card {
    background-color: #fdf6e3;
    color: #657b83;
  }

  .display {
    background-color: #fdf6e3;
    color: #657b83;
  }

  footer {
    background-color: #eee8d5;
    color: #657b83;
  }
}